body {
  margin: 0;
  background: linear-gradient(to left bottom, lightblue, aqua, purple);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.container {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  width: 50%;
  text-align: center;
  color: #e63e5a;
  border: 2px solid purple;
}

.heading {
  font-size: 40px;
  font-weight: 300;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 5 px 5px 2px rgba (0, 0, 0, rgba(0, 0, 0, 0.3));
  initial-letter: 2px;
}

.joke {
  font-size: 30px;
  margin: 40px;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: purple;
}

.btn {
  font-size: 20px;
  font-weight: 700;
  border-radius: 50px;
  cursor: pointer;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  width: 300px;
  color: blueviolet;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  transition: all 300ms ease;
}
